@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #132a13;
  --secondary-color: #31572c;
  --third-color: #4f772d;
  --fourth-color: #90a955;
  --fivth-color: #ecf39e;
}
body{
  background-color: var(--primary-color);
  color: var(--fivth-color);
}


